.stat-boxes {
    display: flex;
    font: 1em sans-serif;
    justify-content: center;
    gap: 10px;

    font-size: 25px;
    background-color: var(--background-color);

    flex-wrap: wrap;
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;
    margin: 20px;
    width: 275px;
    height: 150px;
    font-weight: bold;
}

.stat-box-number {
    color: var(--title-color);
}